[submodule "42-common-core"]
	path = 42-common-core
	url = https://github.com/martinthonon/42-common-core.git
[submodule "Libft"]
	path = Libft
	url = https://github.com/martinthonon/Libft.git
[submodule "Printf"]
	path = Printf
	url = https://github.com/martinthonon/Printf.git
[submodule "Get_next_line"]
	path = Get_next_line
	url = https://github.com/martinthonon/gnl.git
[submodule "FDF"]
	path = FDF
	url = https://github.com/martinthonon/fdf.git
[submodule "Pipex"]
	path = Pipex
	url = https://github.com/martinthonon/pipex.git
[submodule "Push_swap"]
	path = Push_swap
	url = https://github.com/martinthonon/push_swap.git
[submodule "Philo"]
	path = Philo
	url = https://github.com/martinthonon/philosophers.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:leaks-labs/minishell.git
