[submodule "42-common-core"]
	path = 42-common-core
	url = https://github.com/martinthonon/Libft.git
[submodule "Libft"]
	path = Libft
	url = https://github.com/martinthonon/Libft.git
[submodule "Printf"]
	path = Printf
	url = https://github.com/martinthonon/Printf.git
